<% content_for(:title, playlist.fragments['title'].blocks.first.text) %>

<h1><%= prismic(playlist,'title') %></h1>
<p><%= prismic(playlist,'description', true) %></p>
<iframe height="480" width="100%" src="<%= prismic(playlist,'embed') %>?color=FFB923" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
