#playlist {
  display: flex;
  flex-direction: row-reverse;
  // (navbar + breadcrumbs)
  padding-top: 26px;

  & .column {
    width: 50%;
    position: relative;
    &.fixed {
      // 100vh - (navbar + breadcrumbs)
      height: calc(100vh - 26px);
      position: sticky;
      // (navbar + breadcrumbs)
      top: 26px;
      bottom: 0;
    }
    &.padded {
      padding: 20px 40px;
    }
  }

  & .image-container {
    // 100vh - (navbar + breadcrumbs)
    height: calc(100vh - 26px);
    overflow: hidden;
    display: flex;
    justify-content: center;
    background: $black;

    & > img {
      height: 100%;
    }
  }

  & .iframe-container {
    position: absolute;
    z-index: 10;
    bottom: 12px;
    right: 50px;
    left: 50px;
    & iframe {
      border: 10px white solid;
    }
  }

  & .details {
    background: $yellow;
    display: inline-block;
    padding: 5px 10px;
    color: $white;
    font-size: .65em;
    margin-bottom: 40px;
  }

  & p.description {
    text-align: justify;
    & br {
      line-height: 3;
    }
  }
}


@media screen and (max-width: 1000px) {
  #playlist {
    flex-wrap: wrap;

    & .column {
      width:100%;

      &.fixed {
        position: initial;
        height: initial;
      }
    }
  }
}
