#alert {
  position: fixed;
  z-index: 100;
  bottom: 20px;
  right: -300px;
  color: white;
  max-width: 300px;
  min-height: 70px;
  padding: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: right .5s ease;

  &.alert-appears {
    right: 20px;
  }

  &.success {
    background: #3ab23a;
  }

  &.error {
    background: #db3c3c;
  }

  & i#close-alert {
    position: absolute;
    top: 4px;
    right: 4px;
    cursor: pointer;
    font-size: .8em;
  }
}
