#breadcrumbs {
  background: $black;
  color: white;
  font-size: .65em;
  padding: 5px 40px;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 15;

  & a {
    color: $yellow;
    text-decoration: none!important;

    &:hover {
      opacity: .8;
    }
  }

  & .separator {
    opacity: .5;
    padding: 0 10px;
  }

  & .current {
    opacity: .5;
    font-style: italic;
  }
}
