#navbar {
  background: white;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 16;
  height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > .logo {
    color: $black;
    text-decoration: none!important;

    & > h1 {
      font-size: 2em;
      margin: 0;
      margin-left: 40px;
    }
  }

  & > .menu {
    margin: 0;
    padding: 0;
    list-style: none;

    & a {
      text-decoration: none;
      color: $black;
    }
  }

  & > .desktop-menu {
    display: flex;

    & > li {
      margin-left: 30px;
      display: flex;
      align-items: center;

      & > a {
        margin-top: 1px;

        &:after {
          content: '';
          display: block;
          height: 2px;
          width: 0;
          background: $yellow;
          transition: all .3s ease;
        }

        &:hover:after {
          width: 100%;
        }
      }

      &.cta {
        height: 74px;

        & > a {
          background: $yellow;
          height: 100%;
          display: flex;
          align-items: center;
          padding: 0 30px;
          margin-top: 0;

          &:after {
            display: inherit;
          }

          &:hover {
            background: rgba(255, 185, 35, 0.65);
            transition: all .3s ease;
          }
        }
      }
    }
  }

  & > .mobile-menu {
    // display: none;
    position: absolute;
    overflow: hidden;
    right: 0;
    left: 0;
    top: 100px;
    height: 0;
    z-index: 40;
    background: $white;
    transition: all .5s ease;
    opacity: 0;
    display: flex;
    flex-direction: column;

    &.on {
      height: calc(100vh - 100px);
      opacity: 1;
    }

    & > li {
      flex: auto;
      display: flex;

      & > a {
        flex: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
        border-bottom: 2px solid $grey;

        &:hover {
          background: $yellow;
          transition: all .3s ease;
        }
      }
    }
  }

  & > .mobile-menu-toggle {
    display: none;
    padding: 10px;

    & > div {
      background: $black;
      height: 4px;
      margin-bottom: 6px;
      width: 30px;
      transition: all .3s ease;
    }

    & > div:last-child {
      margin-bottom: 0;
    }

    &.on .two {
      opacity: 0;
    }

    &.on .one {
      transform: rotate(45deg) translate(7px, 7px);
      background: $black;
    }

    &.on .three {
      transform: rotate(-45deg) translate(7px, -7px);
      background: $black;
    }
  }

  & > .menu-toggle:hover {
    cursor: pointer;
  }
}

@media (min-width: 800px) {
  #navbar > .mobile-menu {
    height: 0!important;
  }
}

@media screen and (max-width: 800px) {
  #navbar {
    & > .desktop-menu {
      display: none;
    }

    & > .mobile-menu-toggle {
      display: block;
    }
  }
}
