.home {
  background-size: cover;
  background-position: center;
  color: white;
  height: 100vh;
  align-items: center;
  flex-wrap: wrap;
  overflow: scroll;

  & .home-title {
    width: 100%;
    padding: 50px;
    margin-bottom: 100px;

    & > h1 {
    margin: 0;

      & > img {
      max-width: 300px;
      }
    }

    & > h2 {
      font-size: 25px;
      font-weight: lighter;
      color: $grey;
      margin: 0;
    }
  }

  & .home-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    & > div {
      flex: 0 1 40%;
    }

    & .subscription {

      & p {
        color: white;
      }
    }

    & .apercu {

      & p {
        color: white;
      }

      & iframe {
        margin-bottom: 20px;
        border: 10px white solid;
      }

      & a {
        color: white;
        text-decoration: none;
        height: 2px;
        width: 0;
        font-size: 0.8em;


        &:hover {
          height: 2px;
          width: 0;
          color: $yellow;
          transition: all .3s ease;
        }
      }
    }
  }
}


