<div id="navbar">
  <a href="/" class="logo">
    <h1>WeeklySounds</h1>
  </a>
  <ul class="menu desktop-menu">
    <li>
      <a href data-target="propose-modal">Proposer un son</a>
    </li>
    <li>
      <a href="/playlists.html">Playlists</a>
    </li>
    <li class="cta">
      <a href="/">S'abonner</a>
    </li>
  </ul>
  <div class="mobile-menu-toggle">
      <div class="one"></div>
      <div class="two"></div>
      <div class="three"></div>
  </div>
  <ul class="menu mobile-menu">
    <li>
      <a href="#">Proposer un son</a>
    </li>
    <li>
      <a href="/playlists.html">Playlists</a>
    </li>
    <li>
      <a href="/">S'abonner</a>
    </li>
  </ul>
</div>
