<div id="propose-modal">
  <form id ="propose-form" method="POST" action="http://formspree.io/germain.loret@gmail.com">
    <i id="close-propose-modal" class="fa fa-times" aria-hidden="true" data></i>
    <h4>Propose ton son !</h4>
    <p>T'as découvert un son ? Tu veux le faire découvrir dans la prochaine playlist ? Envoie moi un message et je verrai ce que je peux faire !</p>
    <input type="email" name="email" placeholder="Ton email frère">
    <textarea name="message" placeholder="Ta ou tes propositions" rows="5"></textarea>
    <!-- CONFIG -->
    <input type="text" name="_gotcha" style="display:none">
    <input type="hidden" name="_next"/>
    <input type="hidden" name="_subject" value="Proposition de son !" />
    <!-- CONFIG -->
    <button type="submit">Envoyer</button>
  </form>
</div>
