<div class="wysiwyg">
  <div class="wysiwyg-controls">
    <a href='#' data-role='title'>T</a>
    <!-- <a href='#' data-role='list'>li</a> -->
    <a href='#' data-role='bold'><strong>b</strong></a>
    <a href='#' data-role='italic'><i>i</i></a>
    <a href='#' data-role='underline'><u>u</u></a>
    <input type="text" placeholder="titre" id="title">
    <input type="text" placeholder="image url" id="img-link">
  </div>
  <div class="wysiwyg-content" contenteditable></div>
</div>
