<div class="wysiwyg">
  <div class="wysiwyg-controls">
    <a href='#' data-role='title'>T</a>
    <a href='#' data-role='list'>li</a>
    <a href='#' data-role='bold'><strong>b</strong></a>
    <a href='#' data-role='italic'><i>i</i></a>
    <a href='#' data-role='underline'><u>u</u></a>
    <a href='#' data-role='canceled'>X</a>
  </div>
  <div class="wysiwyg-content" contenteditable>Nec vox accusatoris ulla licet subditicii in his malorum quaerebatur acervis ut saltem specie tenus crimina praescriptis legum committerentur, quod aliquotiens fecere principes saevi: sed quicquid Caesaris implacabilitati sedisset, id velut fas iusque perpensum confestim urgebatur impleri.</div>
</div>
