* {
  font-family: $body-font;
}

::-webkit-scrollbar {
    display: none;
}

body {
  margin: 0;
  background: $grey;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headers-font;
}

p {
  color: $black;
  line-height: 1.5;
}

a {
  color: $yellow;
}
