<form id="contact-form">
  <p>Envie de bons sons ? inscris-toi !<p>
  <div class="form-group">
    <input type="email" class="form-control entry" id="mail" placeholder="Ton mail frère" required>
  </div>
