<div id="mail-creator">
  <div id="editor">
    <%= partial "shared/wysiwyg" %>
  </div>
  <div id="preview">
    <div class="menu">
      <a href="#html" data-preview="html">html</a>
      <a class="selected" href="#mail" data-preview="mail">mail</a>
    </div>
    <div class="content">
      <div class="html" style="display: none;">
        <textarea id="code" onclick="this.select()" readonly>
          <%= partial "email-template/v1" %>
        </textarea>
      </div>
      <div class="mail">
        <%= partial "email-template/v1" %>
      </div>
    </div>
  </div>
</div>
