<div id="mail-creator">
  <div id="editor">
    <div class="wysiwyg">
      <div class="controls">
        <a href='#' data-role='title'>T</a>
        <a href='#' data-role='list'>li</a>
        <a href='#' data-role='link'>a</a>
        <a href='#' data-role='bold'>B</a>
        <a href='#' data-role='italic'>I</a>
        <a href='#' data-role='underline'>U</a>
      </div>
      <div class="content" contenteditable>

      </div>
    </div>
  </div>
  <div id="preview">
    <div class="menu">
      <a href="#html">html</a>
      <a class="selected" href="#mail">mail</a>
    </div>
    <div class="content">
      <div class="html" style="display: none;">
        <%= partial "email-template/v1" %>
      </div>
      <div class="mail">
        <%= partial "email-template/v1" %>
      </div>
    </div>
  </div>
</div>
