---
title: Le Wagon - Middleman
---

<div class="home" style="background-image: linear-gradient(-225deg, rgba(32,28,28,0.3) 0%, rgba(32,28,28,0.6) 50%), url(<%= prismic(last_playlist, 'image') %>);" class="padded">
  <div class="home-title">
    <h1><%= image_tag 'logo-ws-white.png', {alt: 'WeeklySounds | Une nouvelle playlist chaque semaine'} %></h1>
    <h2 class="basic-title">S'ouvrir et partager en prenant le temps d'ecouter</h2>
  </div>
  <div class="home-content">
      <div class="subscription">
        <p>Le problème de la surinformation c'est la multiplicité de choix. En rejoignant le crew, chaque semaine, sélectionne et reste à la bonne écoute des curiosités du moment. </p>
        <%= partial "shared/mailchimp_form" %>
      </div>
    <div class="apercu">
      <p>Fresh from this week</p>
      <iframe height="265" width="100%" src="<%= prismic(last_playlist,'embed') %>?color=FFB923&hideTitle=1&hideCurator=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <div class="links">
        <a href="/playlists.html">Ecoute les playlists passées</a>
        <br>
        <a href data-target="propose-modal">Propose un son</a>
      </div>
    </div>
  </div>
</div>

