---
title: Toutes nos playlists
---
<h1>Retrouver toutes nos playlistes passées</h1>

<div class="playlist-cards">
  <% playlists.each do |playlist| %>
    <div class="playlist-card">
      <%= image_tag playlist.fragments['image'].url %>
      <p class="date">12/10/2017</p>
      <h2><%= playlist.fragments['title'].blocks.first.text %></h2>
      <p><%= truncate(playlist.fragments['description'].blocks.first.text, 100) %></p>
    </div>
  <% end %>
</div>
